{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Schedules</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1>Teacher Schedules</h1>
    
        <!-- Iterate over teachers -->
        {% for teacher, schedule in teacher_schedules.items() %}
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ teacher|replace(' ', '_') }}">
            {{ teacher }}
        </button>

        <!-- Rest of your HTML template -->
    
        <div id="{{ teacher|replace(' ', '_') }}" class="collapse">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Time Slot</th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterate over time slots for the current teacher -->
                {% for entry in schedule %}
                    <tr>
                        <td>{{ entry['time_slot'] }}</td>
                        <td>{{ entry['schedule']['Sunday'] }}</td>
                        <td>{{ entry['schedule']['Monday'] }}</td>
                        <td>{{ entry['schedule']['Tuesday'] }}</td>
                        <td>{{ entry['schedule']['Wednesday'] }}</td>
                        <td>{{ entry['schedule']['Thursday'] }}</td>
                        <td>{{ entry['schedule']['Friday'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
{% endblock %}

